:host {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  top: 0%;

  &.open {
    opacity: 1;
    pointer-events: all;
    top: 50%;
  }

  .popup-tags {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 50%;

    .popup-close {
      position: absolute;
      right: 5%;
      top: 5%;
      font-size: 2rem;

      mat-icon {
        height: auto;
        width: auto;
        font-size: 2rem;
      }
    }
  }

  .example-chip-list {
    width: 100%;
  }
}
